<div>
  <div data-controller="youtube" data-action="
  keydown.t@document->youtube#play 
  keydown.y@document->youtube#play
  keydown.u@document->youtube#play
  keydown.g@document->youtube#play
  keydown.h@document->youtube#play
  keydown.j@document->youtube#play
  keydown.b@document->youtube#play
  keydown.n@document->youtube#play
  keydown.m@document->youtube#play
    ">
    <div>
      <div id="player_melody" data-youtube-target="frame"></div>
      <div>
        <%= form_with(local: true, data: { action: "input->youtube#isValidSubmit submit->youtube#embedVideo"}) do |f| %>
          <div>
            <%= f.url_field :url, id: "url_melody", class: "form-control ignore-keydown",data: { youtube_target: "url_melody", action: "input->youtube#url_validation" } %>
            <p data-youtube-target="error_url_melody"></p>
            <%= f.submit "submit" ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded", disabled: true, data: { youtube_target: "submit" } %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <div id="player_drums" data-youtube-target="frame"></div>
      <div>
        <%= form_with(local: true, data: { action: "input->youtube#isValidSubmit submit->youtube#embedVideo"}) do |f| %>
          <div>
            <%= f.url_field :url, id: "url_drums" ,class: "form-control ignore-keydown",data: { youtube_target: "url_drums", action: "input->youtube#url_validation" } %>
            <p data-youtube-target="error_url_drums"></p>
            <%= f.submit "submit" ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded", disabled: true, data: { youtube_target: "submit" } %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/pad_to_click' %>
  </div>
</div>
