<%= turbo_frame_tag "save_beat_form" do %>
  <div data-controller="beat" data-beat-step-sequencer-outlet="#step-sequencer" data-beat-youtube-outlet="#youtube" id="SaveThisBeatModal" tabindex="-1" aria-hidden="true" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-screen bg-black/50 backdrop-blur">
    <div class="w-full">
      <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto my-auto">
        <div class="bg-white  shadow-lg rounded-lg px-12 w-2/5">
          <div class="flex items-center justify-center p-4">
            <p class="pt-8 font-bold text-xl text-gray-800">Let's save this beat!</p>
          </div>
          <div class="p-4">
            <%= form_with model: @beat, url: beats_path, method: :post, data: { beat_target: "beat_save_form" } do |f| %>
              <div class="px-4 pb-4">
                <%= f.label :beat_title %>
                <%= f.text_field :beat_title, class: "ignore-keydown bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5", data: { beat_target: "beat_title_field", youtube_target: "beat_title", action: "input->beat#validateBeatTitleInput"}, maxlength: "50" %>
                <%= f.hidden_field :beats_data, data: { beat_target: "hidden_beats_data_field" } %>
                <%= f.hidden_field :youtubes_data, data: { beat_target: "hidden_youtubes_data_field" } %>
                <%= f.hidden_field :sequencers_data, data: { beat_target: "hidden_sequencers_data_field" } %>
                <%= f.hidden_field :pad_timings_data, data: { beat_target: "hidden_pad_timings_data_field" } %>
              </div>
              <div class="p-4">
                <div class="flex justify-center">
                  <%= button_tag 'Save', type: 'button',class: "shadow-lg bg-blue-500 hover:bg-blue-600 text-white text-lg font-bold py-2 px-4 rounded", data: { beat_target: "save_button", action: "click->beat#createTheBeat" } %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>