<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "YouChop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <div class="w-full">
      <%= render "shared/header" %>
    </div>
    <main class="flex-grow flex items-center justify-center">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
